.dbscolor{
    background-color: #28365c;
}

/* Add a gray background color and some padding to the footer */
footer {
    width: 100%;
    background-color:#28365c;


}
.onderkant{
    width: 100%;

}
.links, div.links ,a{
    color: white;

}
.fotoonder{
    width: 50%;
}
.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;

}
.item img {
    width: 100%; /* Set width to 100% */
    margin: auto;



}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
    .carousel-caption {
        display: none;
    }
}
