<!DOCTYPE html>
<html lang="en">
<head>
    <title>autodealer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>



</head>
<body>

<nav class="navbar navbar-inverse dbscolor">
    <img src="img/logo.jpeg" alt="Image">
    <div class="container-fluid" style="display:inline-block">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">occasions</a></li>
                <li><a href="#">lease</a></li>
                <li><a href="#">Reparatie& Onderdelen</a></li>
                <li><a href="#">Over Ons</a></li>
                <li><a href="#">Contact</a></li>


            </ul>

        </div>
    </div>
</nav>


    <footer>
        <div class ="container links">
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                    <ul>
                        <a href="home.html">Home</a>
                        <br>
                        <a href="occassions.html">occassions</a>
                        <br>
                        <a href="lease.html">lease</a>
                        <br>
                        <a href="reparatie & onderdelen.html">reparatie & onderdelen</a>
                        <br>
                        <a href="Over Ons.html">over ons</a>
                        <br>
                        <a href="contact.html">contact</a>
                        <br>
                    </ul>
                </div>

                <div class="col-xs-12 col-sm-2 col-md-3 col-lg-3">
                    <strong>Openingstijden:</strong><br>
                    Maandag t/m vrijdag<br>
                    09:00 - 18:00<br><br>

                    Zaterdag<br>
                    10:00 - 17:00 <br>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-6 col-lg-6 right">

                    <img src="img/onder.jpg" class="img-responsive" style="width:100%" alt="Image">
                </div>
            </div>
        </div>



    </footer>
</div>

</body>
</html>
